/* banner creditos */
.IUD_banner_creditos {
    background-color: #023d59; 
 
    padding: 5px;



}
.IUD_banner_creditos .IUD_title_creditos {
   
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0;
}

.IUD_banner_creditos .IUD_title_creditos p{
    font-size: 1.5rem; 
    text-align: left;
    color: #f1b53b;
}
.IUD_content_footer_creditos{
    max-width: 300px; 
    text-align: right;
    margin-left: auto;
}
@media only screen and (max-width: 400px){
    .IUD_content_footer_creditos{

        max-width: 300px; 
        margin-left: auto; 
        text-align: left;
    
    }
    }


/* Fin banner creditos */
