/* banner creditos */
.IUD_banner_creditos {
    background-color: #023d59; 
 
    padding: 5px;



}
.IUD_banner_creditos .IUD_title_creditos {
   
padding: px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0;
}

.IUD_banner_creditos .IUD_title_creditos p{
    font-size: 1.5rem; 
    text-align: left;
    color: #f1b53b;
}

/* Fin banner creditos */
